@font-face {
  font-family: chibold;
  src: url(../public/fonts/chibold.ttf);
}
@font-face {
  font-family: demo1;
  src: url(../public/fonts/Yokelvision.otf);
}
@font-face {
  font-family: demo2;
  src: url(../public/fonts/Balsamiq.ttf);
}


body{
  font-family: demo2;
}
.chibold{
  font-family: chibold;
}
.demo1{
  font-family: demo1;
}
.demo2{
  font-family: demo2;
}

.stroke1{
  -webkit-text-stroke: 1px #000000;
}
.stroke2{
  -webkit-text-stroke: 2px #000000;
}
.stroke3{
  -webkit-text-stroke: 2px #000000;
}
.stroke1:hover{
  -webkit-text-stroke: 1px #ffffff;
}
.stroke2:hover{
  -webkit-text-stroke: 2px #ffffff;
}
.stroke3:hover{
  -webkit-text-stroke: 3px #ffffff;
}
.green-shadow{
  text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35), 0px 4px 21px rgba(211, 230, 51, 0.86);
}
.slider{
  padding-top: 2.5vw;
  height: auto;
  width: 100%;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}

@media (max-width: 600px){
.slider{  padding-top: 2.5vw;
  height: auto;
  width: 100%;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;}
}

.slide-track {
  display: flex;
  width: calc(25vw * 18);
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
      transform: translate(0);
  }
  100% {
      transform: translate(calc(-25vw * 9));
  }
}

.slide-track1 {
  display: flex;
  width: calc(25vw * 18);
  animation: scrolling 40s linear infinite alternate-reverse;
}

.slide-track1:hover {
  animation-play-state: paused;
}

@keyframes scrolling {
  0% {
      transform: translate(0);
  }
  100% {
      transform: translate(calc(-25vw * 9));
  }
}

.slide {
  height: 20vw;
  width: 20vw;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
@media (max-width: 600px){
  .slide{  
    width: 25vw;
  }
  }

.slide img {
  width: 100%;
}

.slide img:hover {
  transform: translateZ(20px);
  transition: transform 1s;
}